<!DOCTYPE html>
  <head>
    {{> head__meta title="Rodrigues Soluções Indústriais" url="http://serralheriarodrigues.com/" description="Lorem ipsum dolor sit amet, consectetur adipisicing elit" keywords="soluções industriais, rodrigues"}}

    <title>Rodrigues Soluções Indústriais</title>

    {{> head__styles}}
    
  </head>

  <body class="parallax">
    
    {{> pageloader}}

    {{> mol__parallax--navigation}}

    {{> mol__parallax--home}}

    {{> mol__parallax--about}}

    {{> mol__parallax--portfolio}}
        
    {{> mol__parallax--clients}} 

    {{> mol__parallax--contact}} 

    {{> mol__parallax--map}} 

    {{> footer}}

    <!--build:js js/main.js -->
    {{> footer_scripts}}
    <!-- endbuild -->

  </body>
</html>
