<!-- Navigation - select your nav color - dark-nav or white-nav -->
<nav id="navigation" class="white-nav">
	<!-- Navigation -->
	<div class="navigation first-nav double-nav raleway">
		<!-- Navigation Inner -->
		<div class="nav-inner clearfix">

			<!-- Logo Area -->
			<div class="logo f-left">
				<!-- Logo Link -->
				<a href="#home" class="logo-link scroll">
					<!-- Logo Image / data-second-logo for only white nav -->
					<img src="images/logo/logo.png" data-second-logo="images/logo/logo.png" alt="Rodrigues Soluções Industriais" />
				</a>
			</div>
			<!-- End Logo Area -->

			<!-- Mobile Menu Button -->
			<a class="mobile-nav-button"><i class="fa fa-bars"></i></a>

			<!-- Navigation Links -->
			<div class="nav-menu clearfix f-right">
				<!-- Nav List -->
				<ul class="nav uppercase normal oswald big-texts">
					{{#if menu}}
					{{#each menu}}
					<li><a href="{{url}}" class="scroll">{{item}}</a></li>					
					{{/each}}
					{{/if}}
				</ul>
				<!-- End Nav List -->
			</div>
			<!-- End Navigation Links -->
		</div>
		<!-- End Navigation Inner -->
	</div>
</nav>
<!-- End Nav -->